.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 30px;
    margin: 30px;
    background-color: white;
    border-radius: 20px;
}

    .header__h1{
        font-size: 40px;
        color: #333;
        
    }
