html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

     .body {
    background: linear-gradient(90deg, #c33764  , #1d2671 );
    min-height: 50vh;
}
.boday{
color: rgb(109, 213, 237) rgb(33, 147, 176) 
}