html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.form__header {
    height: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin:0px 100px;
}

.form__body {
    background-color: rgb(147, 198, 247);

}
.picture {
    height: 100px;
    height: 250px;
    margin: 0px 100px;
    
}

.flex {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly
}

.form__list {
    list-style-type:none;
    text-decoration:none;
    color:#ccc;
}
.form__list:visited {
    color:#ccc
    
}
.form__list:hover {
    color:aliceblue
}

.list {
    background-color: rgba(58, 58, 58, 0.712);
    padding:15px;
}